.form-horizontal.login-form { color: white !important; position: relative; }

.form-horizontal.login-form label { color: white !important; width: 100px; }

.form-horizontal.login-form > div.form-group { display: inline-block; margin-top: 20px; margin-right: 10px; }