.navbar-inverse { border-radius: 0px; }

.form-horizontal.login-form { color: white !important; position: relative; }

.form-horizontal.login-form label { color: white !important; }

.form-horizontal.login-form > div.form-group { display: inline-block; margin-top: 20px; margin-right: 10px; }

div.em { position: absolute; right: -330px; bottom: -10px; z-index: 1; display: none; }

#login-form { position: relative; }

#login-form .ajax-div { position: absolute; bottom: 30px; right: -30px; }

.live-search-li { width: 300px; display: block; padding: 10px; position: relative; }

input#search-text { position: relative; margin-top: 7px; margin-left: 100px; padding: 5px 10px; top: -5px; 
                    border-radius: 5px; }

li.logout { margin-top: 5px; }

a.navbar-brand { margin-top: 5px; }

li.live-search-li img{ width: 50px; }

ul#live-search-ul { position: absolute; background: #222; right: -10px; top: 70px; padding: 0; border-radius: 5px; }

ul#live-search-ul li.close { position: absolute; color: white; opacity: 1 !important; right: 10px; list-style: none; 
                             top: 0; cursor: pointer; z-index: 10; }

.user-image img { width: 200px; }

li.name { display: block; color: white; margin: 0 10px; margin-top: 20px; }


/******   Friend Notification   ******/ 

.notify-friend { color: white; margin-top: 20px; margin-right: 10px; }

.notify-friend.red { color: red; cursor: pointer; }

span.notify-friend > span { display: inline-block; margin-left: -7px; }

li.friend-count-li { position: relative; }

ul#notify-friend-ul { position: absolute; right: 0; top: 70px; background: #222; border-radius: 3px; }

li.friend-count-li img { width: 50px; }

li.notify-friend-li { width: 300px; display: block; padding: 10px; }

li.close { color: white; list-style-type: none; margin-right: 20px; margin-top: 10px; opacity: 1 !important; cursor: pointer; }

.close:hover { color: red; }

a.accept { margin-left: 10px; margin-right: 7px; }